<!DOCTYPE html>
<html>
<head>
  <title>Pollster Activity</title>
  <meta name='viewport' content='user-scalable=no width=device-width, initial-scale=1.0 maximum-scale=1.0'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>

<%= yield %>

<div class="content"></div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
